<div *ngIf="flightNotfound">
  <h1>404 Not Found :(</h1>
  <p>
    We couldn't find the flight you're looking for.<br>
    It may have been deleted or never existed.
  </p>
  <a routerLink="/flights">Browse other flights</a>
</div>
<div *ngIf="viewDataInitialized && !flightNotfound">
  <h1>Flight {{ flight?.code }}</h1>
  <div *ngIf="getUserType() === 'admin'">
    <p>
      <small style="font-weight: bold;">Code:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.code }}</span><br>
      <small style="font-weight: bold;">Origin:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.routeOrigin }}</span><br>
      <small style="font-weight: bold;">Destination:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.routeDestination }}</span><br>
      <small style="font-weight: bold;">Departure date:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.departure?.replace('T', ' ') }}</span><br>
      <small style="font-weight: bold;">Arrival date:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.arrival?.replace('T', ' ') }}</span><br>
      <small style="font-weight: bold;">Economy price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.economyPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Business price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.businessPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">First class price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.firstClassPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Extra baggage price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.extraBaggagePrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Extra legroom price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.extraLegroomPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Priority boarding price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.priorityBoardingPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Total bookings:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.totalBookings }}</span><br>
      <small style="font-weight: bold;">Total revenue:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.totalRevenue?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Aircraft:</small>
      <span style="left: 160px; position: absolute;"><a [routerLink]="['/aircrafts', flight?.aircraftId]">{{ flight?.aircraftTailNumber }}</a></span><br>
    </p>
  </div>
  <div *ngIf="getUserType() === 'airline'">
    <h3>Flight details</h3>
    <p>
      <small style="font-weight: bold;">Code:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.code }}</span><br>
      <small style="font-weight: bold;">Origin:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.routeOrigin }}</span><br>
      <small style="font-weight: bold;">Destination:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.routeDestination }}</span><br>
      <small style="font-weight: bold;">Departure date:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.departure?.replace('T', ' ') }}</span><br>
      <small style="font-weight: bold;">Arrival date:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.arrival?.replace('T', ' ') }}</span><br>
      <small style="font-weight: bold;">Economy price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.economyPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Business price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.businessPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">First class price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.firstClassPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Extra baggage price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.extraBaggagePrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Extra legroom price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.extraLegroomPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Priority boarding price:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.priorityBoardingPrice?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Total bookings:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.totalBookings }}</span><br>
      <small style="font-weight: bold;">Total revenue:</small>
      <span style="left: 160px; position: absolute;">{{ flight?.totalRevenue?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Aircraft:</small>
      <span style="left: 160px; position: absolute;"><a [routerLink]="['/aircrafts', flight?.aircraftId]">{{ flight?.aircraftTailNumber }}</a></span><br>
    </p>
    <h3><br>Delete flight</h3>
    <p><input type="button" value="Delete flight" (click)="deleteFlight()"></p>
  </div>
</div>