<div *ngIf="ticketNotfound">
  <h1>404 Not Found :(</h1>
  <p>
    We couldn't find the ticket you're looking for.<br>
    It may have been deleted or never existed.
  </p>
  <a routerLink="/tickets">Browse other tickets</a>
</div>
<div *ngIf="viewDataInitialized && !ticketNotfound">
  <h1>Ticket {{ ticket?.number }}</h1>
  <div *ngIf="getUserType() === 'admin'">
    <p>
      <small style="font-weight: bold;">Number:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.number }}</span><br>
      <small style="font-weight: bold;">Fare type:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.fareType === 'E'? 'Economy' : ticket?.fareType === 'B'? 'Business' : 'First Class' }}</span><br>
      <small style="font-weight: bold;">Extra baggage:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.extraBaggage? 'Included' : 'Not included' }}</span><br>
      <small style="font-weight: bold;">Extra legroom:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.extraLegroom? 'Included' : 'Not included' }}</span><br>
      <small style="font-weight: bold;">Priority boarding:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.priorityBoarding? 'Included' : 'Not included' }}</span><br>
      <small style="font-weight: bold;">Price:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.price?.toFixed(2) }}</span><br>
      <small style="font-weight: bold;">Flight:</small>
      <span style="left: 160px; position: absolute;"><a [routerLink]="['/flights', ticket?.flightId]">{{ ticket?.flightCode }}</a></span><br>
      <small style="font-weight: bold;">Passenger:</small>
      <span style="left: 160px; position: absolute;"><a [routerLink]="['/users/passengers', ticket?.passengerId]">{{ ticket?.passengerEmail }}</a></span><br>
    </p>
  </div>
  <div *ngIf="getUserType() === 'passenger'">
    <h3>Ticket details</h3>
    <p>
      <small style="font-weight: bold;">Number:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.number }}</span><br>
      <small style="font-weight: bold;">Offered by:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.airlineName }}</span><br>
      <small style="font-weight: bold;">Flight code:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.flightCode }}</span><br>
      <small style="font-weight: bold;">From:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.routeOrigin }}</span><br>
      <small style="font-weight: bold;">To:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.routeDestination }}</span><br>
      <small style="font-weight: bold;">Departure date:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.departure?.replace('T', ' ') }}</span><br>
      <small style="font-weight: bold;">Arrival date:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.arrival?.replace('T', ' ') }}</span><br>
      <small style="font-weight: bold;">Fare type:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.fareType === 'E'? 'Economy' : ticket?.fareType === 'B'? 'Business' : 'First Class' }}</span><br>
      <small style="font-weight: bold;">Extra baggage:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.extraBaggage? 'Included' : 'Not included' }}</span><br>
      <small style="font-weight: bold;">Extra legroom:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.extraLegroom? 'Included' : 'Not included' }}</span><br>
      <small style="font-weight: bold;">Priority boarding:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.priorityBoarding? 'Included' : 'Not included' }}</span><br>
      <small style="font-weight: bold;">Price:</small>
      <span style="left: 160px; position: absolute;">{{ ticket?.price?.toFixed(2) }}</span><br>
    </p>
    <h3><br>Delete ticket</h3>
    <p><input type="button" value="Delete ticket" (click)="deleteTicket()"></p>
  </div>
</div>